REACT_APP_API_URL=http://localhost:5000
REACT_APP_ENVIRONMENT=development
DANGEROUSLY_DISABLE_HOST_CHECK=true
WDS_SOCKET_HOST=localhost
WDS_SOCKET_PORT=3000

# tạo .env và .env.local trong frontend với nội dung giống nhau như trên