# Server Configuration
PORT=5000
NODE_ENV=development

# Database - PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=qlda
DB_USER=postgres
DB_PASSWORD=admin

# Supabase Vector Database
SUPABASE_URL=https://hfckgjziytacmkqarupq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmY2tnanppeXRhY21rcWFydXBxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MDM5ODEsImV4cCI6MjA5MjI3OTk4MX0.MeWX_UAE2o6vTG9nmO2L2-AgQfjCL5DfeGL0Q4enAGM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmY2tnanppeXRhY21rcWFydXBxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjcwMzk4MSwiZXhwIjoyMDkyMjc5OTgxfQ.oc1FGpdaeoxnrzxjiKnDHn8L4u0WLigpj6wq6WTgV9U

# LLM - Groq
GROQ_API_KEY=your_groq_api_key_here

# JWT
JWT_SECRET=4oP3I5m5sS20S4zV5MfxeKxumljXaUbh2Z2M3mM8pe4gk71quxSVufrdeerZR6Vt/2yZ8+k97rK3Mf0eSlLWow==
JWT_EXPIRE=7d
REFRESH_TOKEN_EXPIRY=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# LangChain
LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_TRACING_V2=true

# Office 365 Integration
OFFICE_CLIENT_ID=6446dc75-791d-4c55-bfaa-4a82df76acf6
OFFICE_CLIENT_SECRET= kêu khánh đưa .env.example của backend
OFFICE_TENANT_ID=42350984-d0f6-4a38-978a-aa84e495e429
OFFICE_REDIRECT_URI=http://localhost:3000/auth/callback
